.form_style {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	width: 800px;
	margin: 10px auto;
	padding: 20px;
	border: 2px solid #6F7482;
	/* background-color: #f2efef; */
}

h1 {
	margin-top: 0px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 5px;
}


/* table */

.table_style {
	font-size: 16px;
	background-color: #F8FAFC;
	border-collapse: collapse;
} 

th,
td {
	border: 2px solid #6F7482;
	padding: 5px;
}

th {
	width: 100px;
	text-align: left;
}

td {
	width: 200px;
	text-align: left;
}


/* contact form */

input,
textarea,
select {
	appearance: none;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border: none;
}

input[type="email"],
textarea,
select {
	display: block;
	padding: 5px 10px;
	background-color: #F8FAFC;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
	/* border: 2px solid #6F7482; */
	border-radius: 10px;
	
}

/* input {
	position: relative;
} */


textarea {
	/* position: relative; */
	min-height: 200px;
	min-width: 600px;

}

select {
	background: url('./images/down-arrow-svgrepo-com.svg') 
	no-repeat center right / 8%;
	

}

/* .label_descr {

} */

