.main-theme {

	/* color */
	--main_bg_color: #FFFFFF;
	--sb_bg_color: #86A3B4;
	--header_line_color: #000;
	--main_font_color: #333;
	--add_font_color: #00000077;
	--name_color: #FFFFFF;
	--position_color: #1C2E8C;
	--link_general_color: #1C2E8C;
	--link_unmarked_color: #333;
	--border_color: #1C2E8C;

	/* gap */
	--margin_grid: 0px;
	--margin_heading_top: 40px;
	--margin_heading_bottom: 20px;
	--margin_header_line_right: 45px;
	--margin_general: 10px;
	--margin_min: 5px;
	--margin_photo: -45px;

	--padding_main_left: 45px;
	--padding_main_right: 55px;
	--padding_sb_left: 45px;
	--padding_general: 10px;

}