.page_style {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f5f5f0;
	padding: 20px;
	width: 800px;
	margin: 10px auto;
}

.name {
	font-style: italic;
	float: left;
}

.position {
	font-weight: bold;
	clear: right;
}

.photo_border {
	border-style: solid;
	border-width: 2px;
	border-color: #556a6e;
	padding: 10px;
	float: right;
}

.div_border {
	border-bottom: 2px solid #556a6e;
}


 /* TABLE */

th {
	text-transform: uppercase;
	background:#bbb8a7;
}

th, td {
	border: 2px solid #556a6e;
	padding: 5px;
}

.table_row_align {
	text-align: left;
	vertical-align: top;
}

.table_style {
	background-color: #e8e5db;
	border-collapse: collapse;
	width: 100%;
}

.period_width {
	width: 30%;
}

/* LINK */

a {
	color: #00f;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #005;
	text-decoration: underline;
}

.list_marker {
	list-style-type: square;
}

