.grid_container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"sidebar main";
}

@media screen and (max-width: 480px) {
	.grid_container {
		grid-template-columns: 100vh;
		grid-template-areas:
			"sidebar"
			"main";
	}

	.link_to_form {
		display: none;
	}
}

@media screen and (min-width: 480px) {
	.sidebar_style {
		animation: side 4s linear .5s 1;
		animation-fill-mode: backwards;

		box-shadow: 10px 0px 20px #5a5a5a;
		z-index: 10;
	}

	.photo {
		transition: transform 2s ease-in 0s, box-shadow .5s linear 1.5s;	
	}

	.photo:hover {
		transform: 
		scale(1.5, 1.5)
		translate(20%, 20%);
		box-shadow: 0px 0px 30px 10px #5a5a5a;
	}

	.main_content_style {
		animation: main 3.5s linear 1s 1;
		animation-fill-mode: backwards;

		z-index: 1;
	}

	@keyframes side {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes main {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.page_style {
	color: var(--main_font_color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 1200px;
	margin: 5px auto;
}

.sidebar_style {
	grid-area: sidebar;
	background-color: var(--sb_bg_color);
	margin: var(--margin_grid);
	padding-left: var(--padding_sb_left);
	position: relative;
}

/* .sb_position {
	position: fixed;
} */

.main_content_style {
	grid-area: main;
	background-color: var(--main_bg_color);
	margin: var(--margin_grid);
	padding-left: var(--padding_main_left);
	padding-right: var(--padding_main_right);
	/* overflow: auto; */
}

h2 {
	color: var(--main_font_color);
	border-bottom: 5px solid var(--header_line_color);
	padding-bottom: var(--padding_general);
	margin-right: var(--margin_header_line_right);
	margin-top: var(--margin_heading_top);
	margin-bottom: var(--margin_heading_bottom);
}


/* SIDEBAR */

.name {
	color: var(--name_color);
	margin-top: var(--margin_heading_top);
	margin-bottom: var(--margin_general);
}

.position {
	color: var(--position_color);
	font-size: 24px;
	font-weight: 600;
	margin-top: var(--margin_general);
	margin-bottom: var(--margin_heading_bottom);
}

/* photo */

.photo {
	padding: 0px;
	margin-left: var(--margin_photo);
}


/* contacts division */

.contact_type {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: var(--margin_general);
}

.contact_unmarked {
	color: var(--link_unmarked_color);
	text-decoration: none;
}


/* link */

.general_link {
	color: var(--link_general_color);
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* list */

ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 24px;
	display: inline-block;
	text-align: left;
	margin-left: -40px;
}

.lang_list {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: var(--margin_general);
}


/* MAIN CONTENT */

.list_flex {
	display: flex;
	margin-top: -15px;
	margin-bottom: -15px;
	gap: 170px;
	font-weight: 600;
}

.general_font {
	margin-top: var(--margin_min);
}

.additional_font {
	color: var(--add_font_color);
	margin-top: 0px;
	margin-bottom: var(--margin_min);
}

h3 {
	margin-bottom: var(--margin_general);
}


/* summary division */

.summary {
	line-height: 24px;
	font-weight: 600;
}


/* work experience */

.heading_style {
	font-weight: 600;
	line-height: 24px;
	margin-right: 5px;
}

.company_position {
	margin-top: 20px;
}

.company_description {
	line-height: 24px;
}

.company_shadow {
	opacity: .7;
	transition: opacity 3s linear .5s;
}

.company_shadow:hover {
	opacity: 1;
}


/* link to form */

.link_to_form {
	border: 3px solid var(--border_color);
	font-size: 20px;
	background-color: var(--sb_bg_color);
	padding: var(--padding_general);
	width: 100px;
	text-align: center;
	position: absolute; bottom: 20px; left: 45px;
}
